body {
    margin: 0px;
    height: 100%;
}

#header {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 50px;
    background: #FDA;
    box-sizing: border-box;
    border-bottom: 1px solid #FA8;
}

#header h1 {
    font-size: 20px;
    margin-left: 20px;
}

#gameport {
    position: absolute;
    overflow: hidden;
    left: 0px;
    width: 50%;
    top: 50px;
    bottom: 0px;
    background: #CCAA88;
    margin: 0px;
}

#appbody {
    position: absolute;
    right: 0px;
    width: 50%;
    top: 50px;
    bottom: 0px;
    background: #EEE;
    margin: 0px;
    box-sizing: border-box;
}

.ViewPane {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid #888;
}

.SourcePane {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 50%;
    box-sizing: border-box;
}

.ScrollContent {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

ul.DataList {
    list-style: none;
    padding-left: 0px;
}

ul.DataList ul {
    padding-left: 20px;
}

.DataList li.Selected {
    background: yellow;
}
