
@font-face {
    font-family: "Lato";
    font-style: normal;
    src: url("../font/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    src: url("../font/Lato-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    src: url("../font/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: bold;
    src: url("../font/Lato-BoldItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    src: url("../font/CourierPrime-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    src: url("../font/CourierPrime-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: bold;
    src: url("../font/CourierPrime-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Courier Prime";
    font-style: italic;
    font-weight: bold;
    src: url("../font/CourierPrime-BoldItalic.ttf") format("truetype");
}



@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    src: url("../font/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: italic;
    src: url("../font/LibreBaskerville-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: bold;
    src: url("../font/LibreBaskerville-Bold.ttf") format("truetype");
}
