body {
    margin: 0px;
    height: 100%;
}

#header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    height: 50px;
    background-color: #887;
    background-image: url("../pic/stone.png");
    background-size: 489px 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #765;
    font-family: "Libre Baskerville", serif;
}

#subheader {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 50px;
    height: 30px;
    background: #DFDCCF;
    box-sizing: border-box;
    border-bottom: 1px solid #765;
    font-family: "Lato";

    padding-left: 20px;
}

#subheader a {
    display: inline-block;
    font-size: 85%;
    margin: 4px 4px;
    padding: 2px 8px;
    background: #F4F4F0;
    border: 1px solid #888;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

#header h1 {
    font-size: 20px;
    margin-left: 20px;
    color: #FFF;
    text-shadow: 2px 2px 3px #A93, -2px -2px 3px #A93;
}

#appbody {
    width: 100%;
    background: #FFF;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lato";
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#appbody h2 {
    font-size: 20px;
}

.IndexList {
    list-style: none;
    padding-left: 0px;
}

.Symbol {
    font-family: "Courier Prime", monospace;
}

.Doc {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.Col {
    max-width: calc(100% - 300px);
}

.Line {
    line-height: 1.10;    
}

.LineSrc {
    white-space: pre-wrap;
    font-family: "Courier Prime", monospace;
    font-size: 90%;
}

.HasNote {
    clear: both;
}

.Note {
    float: right;
    width: 300px;
    margin-right: -300px;
    white-space: normal;
    font-family: "Libre Baskerville", serif;
    font-size: 90%;
    line-height: 1.33;
    background: #B0FFB0;
    color: #000;
    border: 2px solid #40D040;
    border-radius: 16px;
    margin-bottom: 6px;
}

.Note p {
    margin: 12px 12px;
    text-indent: 12px;
}

.Note code {
    font-family: "Courier Prime", monospace;
    font-size: 100%;
}

.Note .Com_Id {
    font-family: "Courier Prime", monospace;
    font-size: 100%;
}

.Note a.Internal {
    color: #A40;
}

.Note a.External {
    color: #00C;
}

.Note .Contrib {
    text-align: right;
    font-size: 85%;
}

.Src_Comment {
    color: #292;
}

.Src_Ifndef {
    color: #999;
}

.Src_Str {
    color: #A44;
    font-weight: bold;
}

.Src_Dict {
    color: #A2A;
}

.Src_Iddef {
    color: #44C;
    font-weight: bold;
}

.Src_Id {
    color: #44C;
}

.Src_Implid {
    color: #44C;
}

.Src_Localid {
    color: #850;
}
