{% extends "page.html" %}

{% from 'link.html' import aloc %}

{% block content %}
  <h2>Global variables</h2>
  
  <table class="IndexTable">
  {% for glob in globals %}
    <tr>
    <td class="TableAddr">#{{ glob.num }}</td>
    {% if glob.loc %}
    <td><code class="Symbol">{{ aloc(glob.loc, '', glob.name) }}</code></td>
    {% else %}
    <td><code class="Symbol">{{ glob.name }}</code></td>
    {% endif %}
    <td class="TableComment">{% if commentary['GLOB:'+glob.name] %}<img width=20 height=16 src="../../pic/comment.svg" />{% endif %}</td>
    <td class="TableLoc">{% if glob.loc %} {{ glob.loc.str }} {% endif %}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
