{% extends "page.html" %}

{% from 'link.html' import aloc, comloc %}

{% block content %}
  <h2>Objects</h2>
  
  <table class="IndexTable">
  {% for obj in objects %}
    <tr>
    <td class="TableAddr">#{{ obj.num }}</td>
    <td><code class="Symbol">{{ aloc(obj.loc, '', obj.name) }}</code></td>
    <td class="TableComment">{% if commentary['OBJ:'+obj.name] %}{{ comloc(obj.loc, '') }}{% endif %}</td>
    <td class="TableLoc">{{ obj.loc.str }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
